/*
 *   --fg:#ebdbb2;
 *   --fg-2:#fabd2f;
 *   --border:#689d6a;
 *   --bg:#1d2021;
 *   --not:#cc241d;
 */

/*
    --fg:#e3e3ae;
    --fg-2:#86bfa2;
    --border:#002b4d;
    --bg:#110806;
    --not:#c81410;
 */

/*
    --fg:#e3e3ae;
    --fg-2:#86bfa2;
    --border:#d79579;
    --bg:#110806;
    --not:#c81410;
 */

*
{
    border: none;
    border-radius: 0px;
    font-family: "DejaVu Sans Mono", "Font Awesome 6 Free";
    font-size: 14px;
    min-height: 0;
    color: #ebdbb2;
}

window#waybar.topbar
{
    border-bottom-style: inset;
    border-bottom: 4px solid #d79921;
    background: #1d2021;
}
window#waybar.leftbar
{
    border-right-style: inset;
    border-right: 4px solid #d79921;
    background: #1d2021;
}

#workspaces, #clock, #custom-music, #custom-next, #custom-prev, #window
{ 
    font-weight: 800;
}

/* Workspace Buttons */
#workspaces button
{
	padding: 4 4 4 0px;
	margin: 0px;
}
#workspaces button label
{
    color: #d79921;
}
#workspaces button.focused label
{
    color: #1d2021;
}
#workspaces button.focused
{
    background: #d79921; 
}

#mode
{
    background-color: #c81410;
    color: white;
}

#custom-clock, #clock, #battery, #temperature, #cpu, #memory, #disk, #network, #pulseaudio, #tray, #mode, #idle_inhibitor /*, #custom-lichess */
{
    padding: 0 5px;
    margin: 0 10px;
}


#idle_inhibitor
{
    padding: 0 10px;
}

#idle_inhibitor.activated
{
    background-color: #d79921;
    color: #1d2021;
}


#custom-music, #custom-next, #custom-prev, #custom-playpause
{
    color: #aaa9ae;
    padding: 0 10px;
    border-bottom: 4px solid #aaa9ae;
}

#custom-music
{
    margin: 0px;
    padding: 0 10px;
}

#custom-next
{
	margin: 0 15 0 0px;
    padding: 0 20 0 10px;
}

#custom-clock, #clock
{
    margin: 0;
    color: #a89984;
    border-bottom: 4px solid #a89984;
}


#network.disconnected
{
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}


#pulseaudio.muted {
    padding: 0 20px;
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}
