window
{
	margin: 4px;
	border: 4px solid #d79579;
	background-color: #d79579;
}

#input
{
	margin: 2px;
	border: 2px solid #d79579;
	background-color: #110806;
	color: #e3e3ae;
}

#inner-box
{
	margin: 2px;
	background-color: #110806;
}

#outer-box
{
	margin: 2px;
	border: 2px solid #110806;
	background-color: #110806;
}

.entry image
{
	margin-right: 10px;
}

#scroll 
{
	margin: 2px;
}

#text
{
	color: #e3e3ae;
}
